@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap') ;

.form-login {
  background-color: rgb(30, 33, 36);
  border: 0.5px solid white;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgb(28, 28, 28);
  display: flex;
  flex-direction: column;
  height: 150px;
  margin-top: 35px;
  opacity: 0.9;
  padding: 3rem;
  width: 400px;
}

.form-control, .input-login, input {
  padding: 0.2rem;
  text-align: left;
}

.input-login {
  border-radius: 5px;
  font-family: Anton , sans-serif;
  font-size: 23px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  width: 300px;
}

.input-login input {
  font-family: Anton , sans-serif;
  font-size: 20px;
  margin-left: 15px;
}


.btn-play {
  background-color: #2cb67d;
  border: 0;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px rgb(28, 28, 28);
  color: #fffffe;
  cursor: pointer;
  font-family: Anton , sans-serif;
  font-size: 20px;
  height: 35px;
  letter-spacing: 1px;
  margin-right: 10px;
  width: 100px;
}

.btn-play:disabled, .btn-play[ disabled ] {
  background-color: #7b6da3;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px rgb(28, 28, 28);
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: 35px;
  width: 100px;
}


.btn-play:disabled, .btn-play[ disabled ]:hover {
  background-color: #535857;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px rgb(28, 28, 28);
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: 35px;
  width: 100px;
}

.btn-play:hover {
  background-color: #1d724e;
  border: none;
  border-radius: 3px;
  box-shadow: 3px 3px 5px black;
  color: black;
}

.btn-settings {
  background-color: #3ab4c4;
  border: 0;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px rgb(28, 28, 28);
  color: #fffffe;
  cursor: pointer;
  font-family: Anton , sans-serif;
  font-size: 20px;
  height: 35px;
  margin-top: 2px;
  width: 150px;
}

.btn-settings:hover {
  background-color: #14707c;
  border: none;
  border-radius: 3px;
  box-shadow: 3px 3px 5px black;
  color: black;
}

.button-play, .button-settings {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
