@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap') ;

.ranking {
  color: white;
  font-family: Anton , sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  margin-top: 35px;
  text-align: center;
}

.btn-home {
  background-color: #3ab4c4;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(28, 28, 28);
  color: #fffffe;
  cursor: pointer;
  font-family: Anton , sans-serif;
  font-size: 20px;
  height: 35px;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 20px;
  width: 150px;
}

.btn-home:hover {
  background-color: #14707c;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(28, 28, 28);
  color: black;
}

.div-ranking {
  align-items: center;
  background-color: #72757e;
  border: 0.5px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(28, 28, 28);
  color: black;
  display: flex;
  font-family: Anton , sans-serif;
  font-size: 80%;
  height: 50px;
  justify-content: space-between;
  margin: auto;
  margin-top: 10px;
  opacity: 0.9;
  padding-left: 10px;
  padding-right: 100px;
  padding-top: 10px;
  width: 65vw;
}

.div-ranking p {
  color: white;
  font-size: 18px;
}

hr {
  margin-bottom: 2rem;
  width: 60vw;
}

.button-div {
  display: flex;
  margin-bottom: 2rem;
  width: 100vw;
}
